form {
display: flex;}

.box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color:#8B0000;
    color: white;
    padding: 3px;
    width: 220px;
    border: none;
    font-size: 18px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  /* .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  } */
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 8px;
  }

  .searchButton{
    margin-left: 40px;
  }

  .cityAndState{
    margin-left: 30px;
  }

@media (max-width:640px){
  .searchBox{
   display: flex;
  flex-direction: column;
  }
}
