.customImage{
    height: 15rem;
    width: 100%
}

.cardSizing {
    max-width: 26rem;
    min-width: 18rem;
    margin-bottom: 10px;
}

.heartIconPosition{
    position: absolute;
    top: 7px;
    right: 25px;
    height: 20px;
    width: 20px;
}

.cameraIconPosition{
    position: absolute;
    top: 7px;
    left: 15px;
    color: #008b00;
    height: 20px;
    width: 20px;
}

.homeAddress {
    font-size: 20px;
}
.styleIconRed{
    /* color:#8b0046; */
    color:red;
}
.styleIconRed:hover{
color: black;
}
.styleGreen{
    color: #008b00;
}

.styleGreen:hover{
    color: black;
}