.customImage{
    height: 15rem;
    width: 100%
}

.heartIconPosition{
    position: absolute;
    top: 7px;
    right: 25px;
    color: red;
    height: 20px;
    width: 20px;
}
.heartIconPosition:hover{
color: black;
}

.homeCard {
    padding: 10px;
    /* height: 18rem; */
    margin: 1px
}

.homeAddress {
    font-size: 20px;
}